<!DOCTYPE html>
<html lang="en">
  <%- include partials/head.ejs %>
<body>

  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">MEAN STACK</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </nav>
  </header>

  <main>
    <div class="container">
      
      <!--heading-->
      <div class="row">
        <div class="col-lg-6">
          <h1><%= title %></h1>
          <p><%= pageHeader.title %> </p>
          <p><%= pageHeader.strapline %></p>
        </div>
      </div>
      <!--heading-->

      <!--list-->
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 list">
             
              <!-- list-items-->

                  <div class="col-xs-12 col-sm-8 list">
                    <% for (var i = 0; i < locations.length; i++) {%> 
                      <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <div id="name">
                      <div id="left"> <%= locations[i].name %> </div>
                      <div id="center">
                         
                      </div>
                      <div id="right">
                        <h6><span class="badge badge-secondary"> <%= locations[i].distance %> </span></h6>
                      </div>
                      <div class="location">
                          <p><%= locations[i].address %> </p>
                      </div>
                      <div id="left"><%= locations[i].facilities[0] %></div>
                      <div id="center"><%= locations[i].facilities[1] %></div>
                      <div id="t"><%= locations[i].facilities[2] %></div>
                    </div>
                  </div>
                    <%}%>           
                  </div>
              </div>
              <!-- list-items-->
            </div>
            <div class="col-xs-12 col-sm-4 side">
              <p> <%= about.about %> </p>
            </div>
        </div>
      </div>
      <!--list-->

    </div>
  </main>

  <footer class="footer">
    <p>MAKU PAULINE MAZAKPE 2018</p>
  </footer>
  
  <%- include partials/script.ejs %>
</body>
</html>