<!DOCTYPE html>
<html lang="en">
  <%- include partials/head.ejs %>
<body>

  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">MEAN STACK</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </nav>
  </header>

  <main>
    <div class="container">
      
      <!--heading-->
      <div class="row">
        <div class="col-lg-6">
          <h1><%= pageHeader.title %></h1>
        </div>
      </div>
      <!--heading-->

      <!--horizontal line-->
      <hr size="10">
      <!--horizontal line-->

      <!--list-->
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 list">
             
              <div class="row">
                <div class="col-xs-12 col-sm-4 rate">
                    <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="spotlocation">
                        <p><%= location.address %></p>
                    </div>
                    <% for (var i = 2; i < location.facilities.length; i++) {%> 
                      <div class="facilities">
                        <h4>FACILITIES</h4>
                        <ul>
                            <li><%= location.facilities %></li>
                            <li><%= location.facilities %></li>
                            <li><%= location.facilities %></li>
                        </ul>
                    </div>
                    <%}%>
                    <% for (var i = 2; i < location.openingTimes.length; i++) {%> 
                    <div class="Hours">
                      <h4>Opening Hours</h4>
                      <ul>
                        <li><%= location.openingTimes[0].days %> : <%= location.openingTimes[0].opening %> - <%= location.openingTimes[0].closing %></li>
                        <li><%= location.openingTimes[1].days %> : <%= location.openingTimes[1].opening %> - <%= location.openingTimes[1].closing %></li>  
                        <li><%= location.openingTimes[2].days %> : </li> 
                      </ul>
                  </div>
                  <%}%> 
                </div>
                <div class="col-xs-12 col-sm-4 map">

                </div>
              </div>

            </div>
            <div class="col-xs-12 col-sm-4 side">
                <h2><%= sidebar.title %></h2>
              <p>
                <%= sidebar.context %> 
              </p>
            </div>
        </div>
      </div>
      <!--list-->

      <!--reviews-->
      <div class="row">
        <div class="col-xs-12 col-sm-12 review">
            <div>Customer reviews <button type="button" class="btn btn-info">ADD REVIEW</button> </div>
            <hr size="10">
            <div class="revieww">
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                Maku popo,
                19/10/2015
            </div>
            <div class="revieww">
                    <div class="rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    Maku popo,
                    19/10/2015
                </div>
                <div class="revieww">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        Maku popo,
                        19/10/2015
                    </div>
                    <div class="revieww">
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            Maku popo,
                            19/10/2015
                        </div>
        </div>
      </div>
      <!--reviews-->

    </div>
  </main>

  <footer class="footer">
    <p>MAKU PAULINE MAZAKPE 2018</p>
  </footer>
  
  <%- include partials/script.ejs %>
</body>
</html>